p,
li,
span {
  text-align: justify;
}

.scm {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.toc {
  padding: 0 20px;
  background: #f0f0f0;
}

.toc a {
  color: black;
  font-size: large;
}

p a,
li a,
h5 a {
  text-decoration: none;
}

p a:hover,
li a:hover,
h5 a:hover {
  text-decoration: underline;
}

h5 a {
  color: black;
}
